<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="HiringManagementSystem API Test Suite" verbose="1">

    <listeners>
        <listener class-name="com.hiring.utils.ExtentReportManager"/>
    </listeners>

    <test name="Userstory5 - End-to-End">
        <classes>
            <class name="com.hiring.tests.Userstory5E2ETest"/>
        </classes>
    </test>

</suite>
